<% content_for :custom_style do %>
<style type="text/css">

  
  
</style>
<% end %>


<div class="content-wrapper">
<div style="padding:30px;">


<a href="https://www.youtube.com/channel/UCX6b17PVsYBQ0ip5gyeme-Q" target="_blank">
https://www.youtube.com/channel/UCX6b17PVsYBQ0ip5gyeme-Q
</a>


<div class="row" style='margin-top: 30px;'>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-pint"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Serie</span>
              <span class="info-box-number"><%= @serie_count  %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-icecream"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Episode</span>
              <span class="info-box-number"><%= @episode_count  %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

  <h3>服务器信息</h3>
  <pre>
  
  目前部署在 UCloud 上 <a href="https://www.ucloud.cn/"> https://www.ucloud.cn/ </a>
  
  Ubuntu 14.04
  CPU: 1核
  内存: 2G
  带宽: 4M
  服务器地址: 广州
  
  费用: 目前在试用期, 暂时不用钱 (写于2016-4-14)
  </pre>
  
  <h3>技术</h3>
  <pre>
  
  Nginx  服务器
  Puma   跑 Rails 的
  Ruby on Rails 4.2.4 Ruby语言的一个Web框架
  MySQL 数据库 
  Capistrano 3 用来自动部署  <code>cap production deploy</code> 就行了
  sidekiq 后台任务
  Redis 内存数据库
  </pre>
  
</div>
</div>





