<% content_for :custom_style do %>
<style type="text/css">

  
  
</style>
<% end %>


<div class="content-wrapper">

<div style="padding:30px;">
  <h2>这里是 Crash Course 速成班 APP 的后台管理</h2>




  <pre>

http://localhost:3000/api/series

http://localhost:3000/api/newest/1

http://localhost:3000/api/episode/6
  </pre>

  <h3>env</h3>
  <pre> 
  	Ruby version:

  	Rails version:

  	ENV: 
  </pre>
</div>

<div>
<img src="./crashcourse-banner.png">
</div>
</div>

